#include <physical_layouts.dtsi>

/ {
    layout_tbmR0: layout_tbmR0 {
        compatible = "zmk,physical-layout";
        display-name = "Enigma_04";
        transform = <&transform_tbmR0>;
        kscan = <&kscan_tbm0>;

        keys = <
            &key_physical_attrs 100 100  100   0 0 0 0 
            &key_physical_attrs 100 100  200   0 0 0 0 
            &key_physical_attrs 100 100  300   0 0 0 0 
            &key_physical_attrs  70  70  415  15 0 0 0 
            &key_physical_attrs 100 100    0 100 0 0 0
            &key_physical_attrs 100 100  100 100 0 0 0 
            &key_physical_attrs 100 100  200 100 0 0 0 
            &key_physical_attrs 100 100  300 100 0 0 0 
            &key_physical_attrs 100 100  400 100 0 0 0 
            &key_physical_attrs 100 100    0 200 0 0 0 
            &key_physical_attrs 100 100  100 200 0 0 0
            &key_physical_attrs 100 100  200 200 0 0 0
            &key_physical_attrs 100 100  300 200 0 0 0
            &key_physical_attrs 100 100  400 200 0 0 0
        >;
    };

    layout_tbmR1: layout_tbmR1 {
        compatible = "zmk,physical-layout";
        display-name = "Enigma_04";
        transform = <&transform_tbmR1>;
        kscan = <&kscan_tbm0>;

        keys = <
            &key_physical_attrs 100 100  100   0 0 0 0 
            &key_physical_attrs  70  70  415  15 0 0 0 
            &key_physical_attrs 100 100    0 100 0 0 0
            &key_physical_attrs 100 100  300 100 0 0 0 
            &key_physical_attrs 100 100  400 100 0 0 0 
            &key_physical_attrs 100 100    0 200 0 0 0 
            &key_physical_attrs 100 100  100 200 0 0 0
            &key_physical_attrs 100 100  200 200 0 0 0
            &key_physical_attrs 100 100  300 200 0 0 0
            &key_physical_attrs 100 100  400 200 0 0 0
        >;
    };

    layout_tbmL0: layout_tbmL0 {
        compatible = "zmk,physical-layout";
        display-name = "Enigma_04";
        transform = <&transform_tbmL0>;
        kscan = <&kscan_tbm0>;

        keys = <
            &key_physical_attrs  70  70   15  15 0 0 0 
            &key_physical_attrs 100 100  100   0 0 0 0 
            &key_physical_attrs 100 100  200   0 0 0 0 
            &key_physical_attrs 100 100  300   0 0 0 0 
            &key_physical_attrs 100 100    0 100 0 0 0
            &key_physical_attrs 100 100  100 100 0 0 0 
            &key_physical_attrs 100 100  200 100 0 0 0 
            &key_physical_attrs 100 100  300 100 0 0 0 
            &key_physical_attrs 100 100  400 100 0 0 0 
            &key_physical_attrs 100 100    0 200 0 0 0 
            &key_physical_attrs 100 100  100 200 0 0 0
            &key_physical_attrs 100 100  200 200 0 0 0
            &key_physical_attrs 100 100  300 200 0 0 0
            &key_physical_attrs 100 100  400 200 0 0 0
        >;
    };

    layout_tbmL1: layout_tbmL1 {
        compatible = "zmk,physical-layout";
        display-name = "Enigma_04";
        transform = <&transform_tbmL1>;
        kscan = <&kscan_tbm0>;

        keys = <
            &key_physical_attrs  70  70   15  15 0 0 0 
            &key_physical_attrs 100 100  300   0 0 0 0 
            &key_physical_attrs 100 100    0 100 0 0 0
            &key_physical_attrs 100 100  300 100 0 0 0 
            &key_physical_attrs 100 100  400 100 0 0 0 
            &key_physical_attrs 100 100    0 200 0 0 0 
            &key_physical_attrs 100 100  100 200 0 0 0
            &key_physical_attrs 100 100  200 200 0 0 0
            &key_physical_attrs 100 100  300 200 0 0 0
            &key_physical_attrs 100 100  400 200 0 0 0
        >;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        map_tbmR0: map_tbmR0 {
            physical-layout = <&layout_tbmR0>;
            positions = <0 5>;
        };

        map_tbmR1: map_tbmR1 {
            physical-layout = <&layout_tbmR1>;
            positions = <0 3>;
        };
        map_tbmL0: map_tbmL0 {
            physical-layout = <&layout_tbmL0>;
            positions = <0 5>;
        };

        map_tbmL1: map_tbmL1 {
            physical-layout = <&layout_tbmL1>;
            positions = <0 3>;
        };
    };
};
