#include <physical_layouts.dtsi>

/ {
    layout_mR0: layout_mR0 {
        compatible = "zmk,physical-layout";
        display-name = "Enigma_04";
        transform = <&transform_mR0>;
        kscan = <&kscan_tbm0>;

        keys = <
            &key_physical_attrs 100 100  100   0 0 0 0 
            &key_physical_attrs 100 100  200   0 0 0 0 
            &key_physical_attrs 100 100  300   0 0 0 0 
            &key_physical_attrs  70  70  415  15 0 0 0 
            &key_physical_attrs 100 100    0 100 0 0 0
            &key_physical_attrs 100 100  100 100 0 0 0 
            &key_physical_attrs 100 100  200 100 0 0 0 
            &key_physical_attrs 100 100  300 100 0 0 0 
            &key_physical_attrs 100 100  400 100 0 0 0 
            &key_physical_attrs 100 100    0 200 0 0 0 
            &key_physical_attrs 100 100  100 200 0 0 0
            &key_physical_attrs 100 100  200 200 0 0 0
            &key_physical_attrs 100 100  300 200 0 0 0
            &key_physical_attrs 100 100  400 200 0 0 0
        >;
    };

    layout_mR1: layout_mR1 {
        compatible = "zmk,physical-layout";
        display-name = "Enigma_04";
        transform = <&transform_mR1>;
        kscan = <&kscan_tbm0>;

        keys = <
            &key_physical_attrs 100 100  100   0 0 0 0 
            &key_physical_attrs  70  70  415  15 0 0 0 
            &key_physical_attrs 100 100    0 100 0 0 0
            &key_physical_attrs 100 100  300 100 0 0 0 
            &key_physical_attrs 100 100  400 100 0 0 0 
            &key_physical_attrs 100 100    0 200 0 0 0 
            &key_physical_attrs 100 100  100 200 0 0 0
            &key_physical_attrs 100 100  200 200 0 0 0
            &key_physical_attrs 100 100  300 200 0 0 0
            &key_physical_attrs 100 100  400 200 0 0 0
        >;
    };

    layout_mL0: layout_mL0 {
        compatible = "zmk,physical-layout";
        display-name = "Enigma_04";
        transform = <&transform_mL0>;
        kscan = <&kscan_tbm0>;

        keys = <
            &key_physical_attrs  70  70   15  15 0 0 0 
            &key_physical_attrs 100 100  100   0 0 0 0 
            &key_physical_attrs 100 100  200   0 0 0 0 
            &key_physical_attrs 100 100  300   0 0 0 0 
            &key_physical_attrs 100 100    0 100 0 0 0
            &key_physical_attrs 100 100  100 100 0 0 0 
            &key_physical_attrs 100 100  200 100 0 0 0 
            &key_physical_attrs 100 100  300 100 0 0 0 
            &key_physical_attrs 100 100  400 100 0 0 0 
            &key_physical_attrs 100 100    0 200 0 0 0 
            &key_physical_attrs 100 100  100 200 0 0 0
            &key_physical_attrs 100 100  200 200 0 0 0
            &key_physical_attrs 100 100  300 200 0 0 0
            &key_physical_attrs 100 100  400 200 0 0 0
        >;
    };

    layout_mL1: layout_mL1 {
        compatible = "zmk,physical-layout";
        display-name = "Enigma_04";
        transform = <&transform_mL1>;
        kscan = <&kscan_tbm0>;

        keys = <
            &key_physical_attrs  70  70   15  15 0 0 0 
            &key_physical_attrs 100 100  300   0 0 0 0 
            &key_physical_attrs 100 100    0 100 0 0 0
            &key_physical_attrs 100 100  300 100 0 0 0 
            &key_physical_attrs 100 100  400 100 0 0 0 
            &key_physical_attrs 100 100    0 200 0 0 0 
            &key_physical_attrs 100 100  100 200 0 0 0
            &key_physical_attrs 100 100  200 200 0 0 0
            &key_physical_attrs 100 100  300 200 0 0 0
            &key_physical_attrs 100 100  400 200 0 0 0
        >;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        map_mR0: map_mR0 {
            physical-layout = <&layout_mR0>;
            positions = <0 5>;
        };

        map_mR1: map_mR1 {
            physical-layout = <&layout_mR1>;
            positions = <0 3>;
        };
        map_mL0: map_mL0 {
            physical-layout = <&layout_mL0>;
            positions = <0 5>;
        };

        map_mL1: map_mL1 {
            physical-layout = <&layout_mL1>;
            positions = <0 3>;
        };
    };
};
