config SHIELD_Enigma_04_L_o
    def_bool $(shields_list_contains,Enigma_04_L_o)

config SHIELD_Enigma_04_R_o
    def_bool $(shields_list_contains,Enigma_04_R_o)

config SHIELD_Enigma_04_L_q
    def_bool $(shields_list_contains,Enigma_04_L_q)

config SHIELD_Enigma_04_R_q
    def_bool $(shields_list_contains,Enigma_04_R_q)
