if SHIELD_Enigma_04_L

config ZMK_KEYBOARD_NAME
    default "Enigma_04"

config ZMK_USB
	default y

config ZMK_BLE
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y


endif

if SHIELD_Enigma_04_L || SHIELD_Enigma_04_R

config NFCT_PINS_AS_GPIOS
    default y

config ZMK_SPLIT
    default y

# Battery
config ZMK_BATTERY
	default y

config ZMK_BATTERY_REPORTING
	default y

config BT_BAS
	default y

# ZMK studio
config ZMK_STUDIO
	default y

config ZMK_STUDIO_LOCKING
	default n

endif
