config SHIELD_Enigma_04_L
    def_bool $(shields_list_contains,Enigma_04_L)

config SHIELD_Enigma_04_R
    def_bool $(shields_list_contains,Enigma_04_R)

config SHIELD_Enigma_04_OONISHI
    def_bool $(shields_list_contains,Enigma_04_OONISHI)

config SHIELD_Enigma_04_QWERTY
    def_bool $(shields_list_contains,Enigma_04_QWERTY)
